:root {
  --primaryColor: black;
  --secondaryColor: #c30010;
}

* {
  padding: 0;
  margin: 0;
  font-family: Calibri;
  box-sizing: border-box;
}

body {
  background: var(--primaryColor);
}

#container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#container .banner {
  height: 40px;
  width: 100%;
  background: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 60px 0;
}

#container .banner h2 {
  font-size: 25px;
  padding: 0 50px;
  color: var(--secondaryColor);
}

.postTitle {
  text-align: center;
}

#container .banner p {
  padding: 0 20%;
}

#container .close {
  display: none;
}

#container .navbar {
  height: 60px;
  width: 100%;
  display: grid;
  place-items: center;
  background: var(--secondaryColor);
  z-index: 999;
}

#container .navbar ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

#container .navbar ul li a {
  color: #fff;
  text-decoration: none;
  height: 60px;
  width: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-bottom: 1px solid var(--secondaryColor);
}

#container .navbar ul li a:hover,
#container .navbar ul .active a {
  background: #e2e2e2;
  color: var(--secondaryColor);
}

#container .navbar ul li a i {
  margin: 0 10px;
  font-size: 20px;
  border: none;
}

#container .navbar ul li ul {
  background: var(--secondaryColor);
  display: flex;
  flex-direction: column;
  list-style: none;
  display: none;
}

#container .navbar ul li ul li a {
  color: #fff;
  padding: 0 20px;
}

#container .navbar ul li:hover > ul {
  display: block;
}

#container .navbar ul li ul li a:hover {
  background: #e2e2e2;
  color: var(--secondaryColor);
}

#container #section {
  height: auto;
  width: 100%;
  position: relative;
  display: grid;
  place-items: center;
  z-index: 998;
}

#container #section #content .sectionTitle {
  padding: 0 15px;
  margin: 20px 0;
  display: flex;
  align-items: center;
  font-size: 20px;
  color: var(--secondaryColor);
}

#container #section #content .post {
  height: auto;
  width: 100%;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(5, 200px);
  grid-gap: 40px;
}

#container #section #content .post .postCards {
  width: 200px;
  height: 380px;
  background: var(--secondaryColor);
  border: 2px solid var(--secondaryColor);
}

#container #section #content .post .postCards a {
  text-decoration: none;
}

#container #section #content .post .postCards a img {
  width: 100%;
  height: 280px;
}

#container #section #content .post .postCards a .postTitle {
  height: 80px;
  font-size: 14px;
  margin: 4px 0;
  padding: 0 5px;
  color: white;
}

#container #halaman {
  width: 100%;
  background: #e2e2e2;
  margin: 30px 0;
  position: relative;
  left: 0;
}

#container #halaman ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 12%;
  flex-wrap: wrap;
}

#container #halaman ul li {
  margin: 0 2px;
}

#container #halaman ul li a {
  height: 30px;
  width: 30px;
  display: grid;
  place-items: center;
  background: var(--secondaryColor);
  text-decoration: none;
  color: #e2e2e2;
  border-radius: 4px;
}

#container #halaman ul li a:hover,
#container #halaman ul .activePag a {
  background: #e2e2e2;
  color: var(--secondaryColor);
}

#container .footer {
  min-height: 70px;
  width: 100%;
  display: grid;
  place-items: center;
  background: var(--secondaryColor);
  margin: 30px 0 0 0;
}

#container .footer h2 {
  color: #e2e2e2;
  font-size: 15px;
}

#container .footer h2 a {
  color: #e2e2e2;
  font-weight: bold;
}

#container #article {
  display: flex;
  justify-content: center;
  height: 100%;
}

#container #article .articleDetail {
  width: 70%;
  background: #0f0f0f;
  padding: 5%;
  color: #f2f2f2;
  height: 100%;
}

#container #article .articleDetail .title {
  margin: 0 0 20px 0;
  color: var(--secondaryColor);
}

#container #article .articleDetail .heading {
  margin: 20px 0;
  color: var(--secondaryColor);
}

#container #article .articleDetail ul li {
  font-size: 15px;
}

#container #article .articleDetail ul li b {
  color: var(--secondaryColor);
}

#container #article .articleDetail img {
  width: 100%;
  border: 1px solid black;
  margin: 5px 0;
}

#container #article .articleDetail iframe {
  width: 100%;
  height: 450px;
}

#container #article .articleDetailabout {
  width: 70%;
  background: #0f0f0f;
  padding: 5%;
  color: #f2f2f2;
  min-height: 100%;
}

#container #article .articleDetailabout a {
  width: 100%;
  height: 40px;
  display: grid;
  place-items: center;
  text-decoration: none;
  color: #e2e2e2;
}

#container #article .articleDetail a {
  width: 100%;
  height: 40px;
  display: grid;
  place-items: center;
  text-decoration: none;
  color: #e2e2e2;
}

#container #article .articleDetail #downloadLinks {
  background: var(--secondaryColor);
  color: #0f0f0f;
}

.anggota {
  color: var(--secondaryColor);
  text-align: center;
}

/* UNTUK EDIT RESPONSIVE SCREEN */

@media only screen and (max-width: 1240px) {
  #container #section #content .post {
    display: grid;
    grid-template-columns: repeat(4, 200px);
  }
}

@media only screen and (max-width: 1030px) {
  #container #section #content .post {
    display: grid;
    grid-template-columns: repeat(3, 200px);
  }

  #container #article .articleDetail {
    width: 80%;
  }
}

@media only screen and (max-width: 730px) {
  #container #section #content .post {
    display: grid;
    grid-template-columns: repeat(2, 200px);
  }

  #container #article .articleDetail iframe {
    width: 100%;
    height: 315px;
  }
}

@media only screen and (max-width: 480px) {
  #container #section #content .post {
    display: grid;
    grid-template-columns: repeat(2, 52%);
  }

  #container #section #content .post .postCards {
    width: 70%;
    height: auto;
  }

  #container #section #content .post .postCards a img {
    width: 100%;
    height: auto;
  }

  #container #section #content .post .postCards a .postTitle {
    height: auto;
  }

  #container .banner h2 {
    font-size: 25px;
  }

  #container .navbar {
    width: 100%;
    border: none;
  }

  #container .navbar ul li a {
    width: 100%;
    margin: 0;
    padding: 20px;
    overflow: hidden;
  }

  #container .navbar ul li ul li a {
    width: 100%;
  }

  #container #halaman {
    left: 0;
  }

  #container #article .articleDetail {
    width: 100%;
  }

  #container #article .articleDetail iframe {
    width: 100%;
    height: 200px;
  }
}

@media only screen and (max-width: 310px) {
  #container .banner h2 {
    font-size: 22px;
  }
}
